{% extends 'Master/master.html' %}
{% load static %}

{% block title %}
<title>My Account</title>
<link rel="stylesheet" href="{% static 'assets/css/plugins.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/style.min.css' %}">
<link rel="stylesheet" href="{% static 'css/MyAccount/myaccount.css' %}">
{% endblock %}

{% block content %}

<div class="row">
    {% if messages %}
    <div class="alert alert-primary" role="alert">
        {% for i in messages %}
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{i}}
        {% endfor %}
    </div>
    {% endif %}
    <div class="col-xl-12 col-md-12">
        <div class="card cart">
            <div class="card-header">
                <h3 class="card-title text-dark">My Order</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-vcenter text-nowrap border">
                        <thead>
                            <tr class="border-top">
                                <th>Order</th>
                                <th>Order Id</th>
                                <th>Payment Id</th>
                                <th>Ordered Date</th>
                                <th>Item Name</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if order %}
                            {% for order in order %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{order.order.unique_id}}</td>
                                <td>{{order.order.payment_id}}</td>
                                <td>{{order.order.date}}</td>
                                <td>{{order.product}}</td>
                                <td>Rs.{{order.total}}</td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="6"><h1 class="text-dark text-center">No Order</h1></td>
                                {% endif %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- account area start -->
<!--<div class="account-dashboard pt-100px pb-100px">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3">-->
<!-- Nav tabs -->
<!--<div class="dashboard_tab_button" data-aos="fade-up" data-aos-delay="0">
        <ul role="tablist" class="nav flex-column dashboard-list">
            <li><a href="#dashboard" data-bs-toggle="tab" class="nav-link active">Dashboard</a></li>
            <li> <a href="#orders" data-bs-toggle="tab" class="nav-link">Orders</a></li>
            <li><a href="#downloads" data-bs-toggle="tab" class="nav-link">Downloads</a></li>
            <li><a href="#address" data-bs-toggle="tab" class="nav-link">Addresses</a></li>
            <li>
                <a href="#account-details" data-bs-toggle="tab" class="nav-link">Account details</a>
            </li>
            <li><a href="login.html" class="nav-link">logout</a></li>
        </ul>
    </div>
</div>
<div class="col-sm-12 col-md-9 col-lg-9">-->
<!-- Tab panes -->
<!--<div class="tab-content dashboard_content" data-aos="fade-up" data-aos-delay="200">
                    <div class="tab-pane fade show active" id="dashboard">
                        <h4>Dashboard </h4>
                        <p>
                            From your account dashboard. you can easily check &amp; view your <a href="#">
                                recent
                                orders
                            </a>, manage your <a href="#">shipping and billing addresses</a> and <a href="#">Edit your password and account details.</a>
                        </p>
                    </div>
                    <div class="tab-pane fade" id="orders">
                        <h4>Orders</h4>
                        <div class="table_page table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Order</th>
                                        <th>Ordered Date</th>
                                        <th>Item Name</th>
                                        <th>Total</th>
                                        <th>Order Id</th>
                                        <th>Action</th>
                                        <th>Invoice</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order in order %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{order.order.date}}</td>
                                        <td>{{order.product}}</td>
                                        <td>Rs.{{order.total}}</td>
                                        <td>{{order.order.payment_id}}</td>
                                        <td><a href="" class="check-btn sqr-btn ">View</a></td>
                                        <td><a href="" class="check-btn sqr-btn ">Invoice</a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="downloads">
                        <h4>Downloads</h4>
                        <div class="table_page table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Downloads</th>
                                        <th>Expires</th>
                                        <th>Download</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Shopnovilla - Free Real Estate PSD Template</td>
                                        <td>May 10, 2018</td>
                                        <td><span class="danger">Expired</span></td>
                                        <td><a href="#" class="view">Click Here To Download Your File</a></td>
                                    </tr>
                                    <tr>
                                        <td>Organic - ecommerce html template</td>
                                        <td>Sep 11, 2018</td>
                                        <td>Never</td>
                                        <td><a href="#" class="view">Click Here To Download Your File</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="address">
                        <p>The following addresses will be used on the checkout page by default.</p>
                        <h5 class="billing-address">Billing address</h5>
                        <a href="#" class="view">Edit</a>
                        <p class="mb-2"><strong>Michael M Hoskins</strong></p>
                        <address>
                            <span class="mb-1 d-inline-block"><strong>City:</strong> Seattle</span>,
                            <br>
                            <span class="mb-1 d-inline-block"><strong>State:</strong> Washington(WA)</span>,
                            <br>
                            <span class="mb-1 d-inline-block"><strong>ZIP:</strong> 98101</span>,
                            <br>
                            <span><strong>Country:</strong> USA</span>
                        </address>
                    </div>
                    <div class="tab-pane fade" id="account-details">
                        <h3>Account details </h3>
                        <div class="login">
                            <div class="login_form_container">
                                <div class="account_login_form">
                                    <form action="#">
                                        <p>Already have an account? <a href="#" data-bs-toggle="modal" data-bs-target="#loginActive">Log in instead!</a></p>
                                        <div class="input-radio">
                                            <span class="custom-radio">
                                                <input type="radio" value="1"
                                                       name="id_gender"> Mr.
                                            </span>
                                            <span class="custom-radio">
                                                <input type="radio" value="1"
                                                       name="id_gender"> Mrs.
                                            </span>
                                        </div> <br>
                                        <div class="default-form-box mb-20">
                                            <label>First Name</label>
                                            <input type="text" name="first-name">
                                        </div>
                                        <div class="default-form-box mb-20">
                                            <label>Last Name</label>
                                            <input type="text" name="last-name">
                                        </div>
                                        <div class="default-form-box mb-20">
                                            <label>Email</label>
                                            <input type="text" name="email-name">
                                        </div>
                                        <div class="default-form-box mb-20">
                                            <label>Password</label>
                                            <input type="password" name="user-password">
                                        </div>
                                        <div class="default-form-box mb-20">
                                            <label>Birthdate</label>
                                            <input type="date" name="birthday">
                                        </div>
                                        <span class="example">
                                            (E.g.: 05/31/1970)
                                        </span>
                                        <br>
                                        <label class="checkbox-default" for="offer">
                                            <input type="checkbox" id="offer">
                                            <span>Receive offers from our partners</span>
                                        </label>
                                        <br>
                                        <label class="checkbox-default checkbox-default-more-text" for="newsletter">
                                            <input type="checkbox" id="newsletter">
                                            <span>
                                                Sign up for our newsletter<br><em>
                                                    You may unsubscribe at any
                                                    moment. For that purpose, please find our contact info in the
                                                    legal notice.
                                                </em>
                                            </span>
                                        </label>
                                        <div class="save_button mt-3">
                                            <button class="btn" type="submit">Save</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!-- account area start -->
{% endblock %}


{% block javascript %}
<script src="{% static 'assets/js/vendor.min.js' %}"></script>
<script src="{% static 'assets/js/plugins.min.js' %}"></script>
<script src="{% static 'assets/js/main.min.js' %}"></script>
{% comment %}
<script src="{% static 'js/MyAccount/myaccount.js' %}"></script> {% endcomment %}
{% endblock %}