
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.FontGreyChateau{
  color:#9A9D9E !important;
}

.main-container {
  width: 100%;     
  transition: 0.4s linear;
  height:auto;    
}

.box {
  width: 400px;
  margin: auto;
  background: rgba(243, 237, 237, 0.8);
  padding: 40px;
  box-sizing: border-box;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, .5);
  border-radius: 10px;
}

.box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #333;
  text-align: center;
}

.box p {
  margin-bottom: 0;
}

.box p:nth-child(even) {
  margin-top: 0;
}

.box a {
  color: #9a9d9e;
  font-size: 14px;
  text-decoration: none;
}

.box .input-box {
  position: relative;
}

.box .input-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  margin-bottom: 30px;
  color: #333;
  border: 1px solid #333;
  border: none;
  border-bottom-style: solid;
  outline: none;
  letter-spacing: 1px;
  background: transparent;
  box-shadow: none !important;
  
}
.box .input-box input:-webkit-autofill,
.box .input-box input:-webkit-autofill:hover,
.box .input-box input:-webkit-autofill:focus,
.box .input-box input:-webkit-autofill:active {
    /* -webkit-box-shadow: 0 0 10px 6px rgb(41, 3, 3) inset !important; */
    -webkit-appearance: none !important;
    -webkit-border:none !important;  
    -webkit-border-bottom-style: solid !important; 
    -webkit-background: transparent !important;   
}

.box .input-box label {
  position: absolute;
  color: #333;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}

.box .input-box input:focus ~ label,
.box .input-box input:valid ~ label{
  top: -18px;
  left: 0;
  color: #03a9f4;
  font-size: 12px;
}

.box .btnSubmit{
  background: transparent;
  border: none;
  outline: none;
  background: #03a9f4;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

#logged-in {
  width: 100%;
  height: auto;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 50px;
  display: none;
}

.login-true {
    opacity: 0;
}
  