{% extends 'Master/master.html' %}
{% load static %} 

{% block title %}
<title>Forgot</title>
<link rel="stylesheet" href="{% static 'css/Login/newpassword.css' %}">
{% endblock %}


{% block content %}

<div id="main" class="main-container mt-3 mb-3">              
    <div class="box">        
    {% csrf_token %}    
    {% if messages %}
          <div class="alert alert-primary"role="alert">            
            {% for i in messages %}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{i}} 
            {% endfor %}           
          </div>
    {% endif %}
      <h2 class="FontGreyChateau">New Password</h2>   
      <div id="DivDisplayMsg" style="display: none;">
        <button class="close" data-close="alert"></button>
        <span id="SpnMsgHeader"></span>
        <span id="SpnErrorMsg"></span>
      </div>   
        <div class="input-box">
          <input type="text" class="form-control newpassword" placeholder="newpassword" name="newpassword" id="newpassword">
          <label>New Password</label>
        </div>        
        <button class="btn btnSubmit">Submit</button>    
    </div>
</div>
    
<div id="logged-in">
</div>

{% endblock %}

{% block javascript %}
<script src="{% static 'js/Login/newpassword.js' %}"></script>
{% endblock %}